.example-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  margin-left: 2%;
}

.example-full-width {
  width: 100%;
}

.btn-danger {
  margin-top: 1%;
}

.btnVer {
  margin-top: 0%;
}

.moviesList {
  margin-top: 2%;
  height: 140px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

.movieDetails {
  height: 400px;
  display:block;
  position: relative;
  z-index: 10;
}

.dropdown {
  width: 100%;
}

.dropdown-menu {
  width: 100%;
  z-index: 100;
  margin-top: 3%;
}

.imgMovie {
  width: auto;
  height: 100%;
}

.dataMovie {
  margin-left: 0%;
  padding: 0px;
  position: relative;
  z-index: -2;
}

.detailsContainer {
  background-color: #FAFAFA;
  border: 1px solid rgb(177, 177, 177);
  z-index: 1000;
  padding-left: 0px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  margin-top: 0.5%;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .detailsContainer {
  border: 1px solid rgb(177, 177, 177);
  padding-left: 0px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-bottom: 230px;
  margin-top: 1%;
  position: relative;
  }

  .dropdown-menu {
    margin-top: 8%;
  }

  .detalles {
    background-color: #FAFAFA;
    padding-left: 20px;
    padding-right:20px;
  }

  .imgMovieMobile {
    z-index: 10000;
    position: relative;
    width: auto;
    height: 90%;
  }

  .btnVer {
    margin-top: -4%;
    height: 35px;
  }
}
