<form class="example-form">
    <label>Ingresa película</label>
    <input matInput name="buscar" value="" [(ngModel)]="buscar" class="form-control" (keyup.enter)="onEnter">
    <button class="btn btn-danger" (click)="getMovie()">Search</button>
</form>

<ul class="list-group">
  <li class="list-group-item moviesList" *ngFor="let movie of movies">
    <img src="{{movie.Poster}}" class="col-lg-4 rounded float-left imgMovie" alt="..." (click)="showDetails()">
    <div class="col-lg-8 dataMovie">
      <p>Título: {{movie.Title}}</p>
      <p>Año: {{movie.Year}}</p>
    </div>
  </li>
</ul>
