.example-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  margin-left: 2%;
}

.example-full-width {
  width: 100%;
}

.btn-danger {
  margin-top: 1%;
}

.btnVer {
  margin-top: 0%;
}

.moviesList {
  margin-top: 2%;
  height: 140px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

.movieDetails {
  height: 400px;
}

.imgMovie {
  width: auto;
  height: 100%;
}

.dataMovie {
  margin-left: 0%;
  padding: 0px;
}

.detailsContainer {
  background-color: #FAFAFA;
  border: 1px solid rgb(177, 177, 177);
  z-index: 100;
  padding-left: 0px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  margin-top: 0.5%;
}
