<form class="example-form">
    <label>Ingresa película</label>
    <input matInput name="buscar" value="" [(ngModel)]="buscar" class="form-control" (keyup.enter)="onEnter">
    <button class="btn btn-danger" (click)="getMovie()">Search</button>
</form>

<ul class="list-group">
  <li class="list-group-item moviesList" *ngFor="let movie of movies">
    <img src="{{movie.Poster}}" class="col-lg-4 rounded float-left imgMovie" alt="...">
    <div class="col-lg-8 dataMovie">
      <p>Título: {{movie.Title}}</p>
      <p>Año: {{movie.Year}}</p>
      <button class="btn btn-danger btnVer text-white" (click)="getDetails(movie.Title)">Ver más</button>
      <div class="detailsContainer" *ngIf="(movie.imdbID) == (this.id)">
        <p>Género: {{this.genero}}</p>
        <p>Duración: {{this.duracion}}</p>
        <p>Reparto: {{this.reparto}}</p>
        <p>Director: {{this.nameDirector}}</p>
        <p>Premios: {{this.premios}}</p>
      </div>

    </div>
  </li>
</ul>
