<form class="example-form animated fadeInLeft">
    <label>Ingresa película</label>
    <input matInput name="buscar" value="" [(ngModel)]="buscar" class="form-control" (keyup.enter)="onEnter">
    <button class="btn btn-danger" (click)="getMovie()">Search</button>
</form>

<ul class="list-group">
  <li id="movies" class="animated slideInLeft list-group-item moviesList" *ngFor="let movie of movies">
    <img src="{{movie.Poster}}" class="col-lg-4 rounded float-left imgMovie" alt="...">
    <div class="col-lg-12 dataMovie">
      <p>Título: {{movie.Title}}</p>
      <p>Año: {{movie.Year}}</p>  
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn btn-danger btnVer text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="getDetails(movie.Title)">
            Ver más
          </button>
          <div class="animated fadeInDown dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div id="panel" class="detailsContainer col-xs-12 col-md-12 col-lg-12" *ngIf="(movie.imdbID) == (this.id)">
              <li class="list-group-item movieDetails">
                <img src="{{this.portada}}" class="col-lg-4 col-xs-2 col-md-2 rounded float-left imgMovieMobile">
                <div class="col-lg-12 col-xs-12 col-md-12 detalles">
                  <p class="p-details">Género: {{this.genero}}</p>
                  <p class="p-details">Duración: {{this.duracion}}</p>
                  <p class="p-details">Reparto: {{this.reparto}}</p>
                  <p class="p-details">Director: {{this.nameDirector}}</p>
                  <p class="p-details">Premios: {{this.premios}}</p>
                </div>
              </li>
            </div>
          </div>
      </div>
    </div>
  </li>
</ul>
      

   
